debian/.debianhelper
debian/indicators-cli
debian/debhelper-build-stamp
debian/indicators-cli.substvars
dist
debian/debhelper-build-stamp
debian/files
debian/indicators-cli.substvars
indicators_cli.egg-info
.pybuild